.search-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10vh;

  .search {
    width: 720px;
    min-height: 46px;
    background-color: #fff;
    border-radius: 46px;
    display: flex;
    box-shadow: 0 2px 6px 0 #20212447;
  }
  .search-engin {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;

    .search-engin-active {
      position: absolute;
      font-size: 14px;
      right: 2px;
      bottom: 2px;
      color: #a9a8a8;
      transform: rotate(45deg);
    }

    &:hover {
      .search-engin-active {
        color: #8c8c8c;
      }
    }
  }

  .search-input {
    appearance: none;
    outline: none;
    background: transparent;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 46px;
    height: 46px;
    width: 100%;
    font-family: inherit;
    flex: 1 1 0%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .search-btn {
    cursor: pointer;
    background-color: #096dd9;
    width: 80px;
    height: 46px;
    border-top-right-radius: 46px;
    border-bottom-right-radius: 46px;
    font-size: 24px;
    line-height: 46px;
    text-align: center;
    color: #fff;
    transform: translateX(1px);
  }
}

.search-type-icon {
  width: 24px;
  height: 24px;
}

.search-type-logo {
  display: flex;
  justify-content: center;
  height: 140px;
  margin-bottom: 20px;
}

.search-suggest-list {
  width: 694px;

  .search-suggest-list-item {
    height: 36px;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-size: 18px;
    color: #000;
    padding: 0 6px;
    border-radius: 4px;

    & > img {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;
    }

    & > div {
      margin-left: 6px;
      width: calc(100% - 45px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .search-suggest-list-item-active {
    background-color: #f5f5f5;
  }
}
